amqp==2.5.2
appdirs==1.4.3
args==0.1.0
asgiref==3.2.3
astroid==2.1.0
attrs==20.2.0
automium==0.2.6
automium-web==0.1.1
autopep8==1.4.4
beautifulsoup4==4.9.0
billiard==3.6.2.0
boto==2.49.0
bs4==0.0.1
celery==4.4.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
clint==0.5.1
colorama==0.4.3
config==0.5.0
cur==0.0.1
cycler==0.10.0
Cython==0.29.21
decouple==0.0.7
defusedxml==0.6.0
distlib==0.3.0
Django==2.2
django-allauth==0.39.1
django-ckeditor==5.9.0
django-countries==5.3.3
django-crispy==1.8.1
django-crispy-forms==1.7.2
django-cropperjs==0.0.5
django-debug-toolbar==1.10.1
django-filter==2.3.0
django-js-asset==1.2.2
django-os-geocoder==0.1.6
django-restframework==0.0.1
django-storages==1.10.1
django-tinymce4-lite==1.7.4
djangorestframework==3.12.1
docutils==0.16
filelock==3.0.12
Flask==1.1.1
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
iniconfig==1.0.1
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.1.0
kombu==4.6.7
lazy-object-proxy==1.3.1
legacy==0.1.6
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
more-itertools==8.5.0
nmap==0.0.1
numpy==1.18.1
oauthlib==3.0.1
packaging==20.4
pep8==1.7.1
phonenumbers==8.12.2
Pillow==7.0.0
pluggy==0.13.1
progressbar==2.5
py==1.9.0
pyame==0.8.10
pycodestyle==2.5.0
Pygments==2.6.1
pylint==2.2.2
pyparsing==2.4.6
pytest==6.0.2
python-dateutil==2.8.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
requests==2.21.0
requests-oauthlib==1.2.0
reverse==0.1.0
selenium==3.141.0
signals==0.0.2
six==1.12.0
soupsieve==2.0
South==1.0.2
sqlparse==0.2.4
stripe==2.27.0
toml==0.10.1
urllib3==1.24.2
users==1.0.dev0
view==0.1
views==0.3
vine==1.3.0
virtualenv==20.0.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.0
